<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Home', iconSource: getIconSource('home')}"
        class="tab" name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Mall', iconSource: getIconSource('browse')}"
        class="tab" name="browseTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Shops', iconSource: getIconSource('search')}"
        class="tab" name="searchTab">
    </page-router-outlet>

</TabView>