<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Browse"></Label>
</ActionBar>
<!-- 
<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf1ea;"></Label>
    <Label class="page-placeholder" text=" -- Page content goes here --"></Label>
    <GridLayout rows="*,*" columns="*,*">
        <Label class="card first" text="0,0" row="0" col="0"></Label>
        <Label class="card second" text="0,1" row="0" col="1"></Label>
        <Label class="card third" text="1,0" row="1" col="0"></Label>
        <Label class= "card fourth" text="1,1" row="1" col="1"></Label>
    </GridLayout>
</GridLayout> -->

<GridLayout tkExampleTitle tkToggleNavButton>
        <RadListView [items]="locations" marginRight="-2">
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
                itemHeight="200" spanCount="1">
            </ListViewGridLayout>
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout backgroundColor="White">
                    <GridLayout>
                        <ios>
                            <Image src="{{ item.imageSrc }}" stretch="aspectFill"></Image>
                        </ios>
                        <android>
                            <Image src="{{ item.imageSrc }}" stretch="aspectFill"
                                height="180"></Image>
                            <!-- <FrescoDrawee horizontalAlignment="stretch" height="180"
                                imageUri="{{ item.imageSrc }}"></FrescoDrawee> -->
                        </android>
                        <GridLayout verticalAlignment="bottom">
                            <StackLayout paddingTop="8" paddingBottom="8"
                                paddingLeft="16" paddingRight="16">
                                <Label text="{{ item.city }}" class="locationCity"></Label>
                                <Label text="{{ item.country }}" class="locationCountry"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>