// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
@import '~nativescript-theme-core/scss/light';



.fa {
        font-family: "FontAwesome";
    }

    
// Common page class
.page-content {
    background: $default-background;
    font-family: 'CircularStd';
    font-weight: 400;
    
    .fa {
        font-family: "FontAwesome";
     }

    .page-placeholder {
        color: $text-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }

    Label {
        font-family: $font;
    }

    ActionBar .action-bar-title {
        horizontal-align: center;
    }  
    
}
    .btn {
        border-radius: 40%;
        margin: 10;
        font-size: 12;
    }

    .primary {
        background-color: $default-primary;
        color: $default-onprimary;
    }

    .offers {
        background: $default-surface;
        border-radius: 40%;
        margin: 10;
        font-size: 12;
    }
    
    #image-text {
        color: #ffffff;
        font-size: 28;
        font-weight: 600;
        
    }

    // Cardview
        .cardStyle {
            background: $default-background;
            color: $default-onsurface;
        }
        .cardContent {
            padding: 10;
            font-weight: bold;
            font-size: 14;
        }
        #button {
            background: $default-surface;
            color: $default-primary;
            border-radius: 15%;
            border-width: .05;
            border-color: $default-primary;
        }

        #item-image {
            border-radius: 15%;
        }

    
    RadListView {
        .locationCity {
            color: White;
            font-family: 'Nordica Plus', 'nordicaclassicltext';
            font-weight: bold;
            font-size: 30;
        }
        
        .locationCountry {
            color: darkgray;
            font-family: 'Nordica Plus', 'nordicaclassicltext';
            font-size: 18;
            text-transform: uppercase;
        }
    }

    .shops {
        font-weight: bold;
        font-size: 25;
        color: $default-primary;
    }
    
    #carousel{
        .scroll-menu {
            height: 220;
            padding: 10;
        }
         
        .scroll-pane {
            background: url("https://placekitten.com/200/200");
            background-repeat: no-repeat;
            background-size: cover;
            width: 240;
            height: 220;
            margin: 10;
            border-radius: 40%;
        }

        Label {
            color: #fff;
            horizontal-align: center;
        }
    }    