// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
   font-family: "FontAwesome";
}
// Common page class
.page-content {
    background: $default-background;
    
    .page-placeholder {
        
        color: $text-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }

    ActionBar .action-bar-title {
        horizontal-align: center;
    }   
}

    //Gradient box
    .first{
        background:linear-gradient(to right, red, rgba(blue,0.6));
    }
    .second{
        background:linear-gradient(to right, blue, rgba(red,0.6));
    }
    .third{
        background:linear-gradient(to right, green, rgba(orange,0.6));
    }
    .fourth{
        background:linear-gradient(to right, orange, rgba(green,0.6));
    }

    // Cardview
        .cardStyle {
            background: $default-surface;
            color: $default-onsurface;
        }
        .cardContent {
            padding: 20;
            font-weight: bold;
            font-size: 14;
        }
        #button {
            background: $default-primary;
            color: $default-onprimary;
            margin: 2;
            border-radius: 40%;
        }

        #item-image {
            border-radius: 40%;
        }


        