<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<!-- <GridLayout>
        <StackLayout orientation="horizontal" horizontalAlignment="center">
            <Button class="btn btn-accent offers" text="Offers"></Button>
            <Button class="btn offers" text="Events"></Button>
            <Button class="btn offers" text="Movies"></Button>
        </StackLayout>
</GridLayout> -->

<GridLayout class="page page-content">
    <GridLayout rows="60,*,*,*">
        <StackLayout row="0" rowSpan="1" orientation="horizontal" horizontalAlignment="center" marginTop="5">
            <Button class="btn primary" text="Offers"></Button>
            <Button class="btn offers" text="Events"></Button>
            <Button class="btn offers" text="Movies"></Button>
        </StackLayout>
        <ListView row="1" [items]="items" class="list-group">
            <ng-template let-item="item">
                <StackLayout class="p-20">
                    <Card:CardView class="cardStyle">
                        <StackLayout class="cardContent">
                                <GridLayout rows="*, *" columns="*, *, *">
                                        <Image [nsRouterLink]="['../item', item.id]" [src]="item.image" id="item-image" stretch="aspectFill" colSpan="3" row="0" horizontalAlignment="center"></Image>
                                        <StackLayout orientation="vertical" row="0" marginLeft="15" marginTop="20">
                                            <Label [text]="item.name" id="image-text" class="m-b-10" textWrap="true" row="0" col="0" colSpan="2"></Label>
                                            <Label text="Winter Fashion Sale" id="image-text" class="m-b-10" textWrap="true" colSpan="2" ></Label>
                                            <Button [nsRouterLink]="['../item', item.id]" id="button" text="know more" colSpan="2"></Button>  
                                        </StackLayout>
                                        <AbsoluteLayout row="0" colSpan="3">
                                            <Button [text]="item.description" left="135" top="200" height="40" width="170" backgroundColor="rgba(224, 236, 255, 0.5)"></Button>
                                        </AbsoluteLayout>
                                </GridLayout>
                            <!-- <StackLayout width="100%" class="lineBreak"></StackLayout> -->
                            <!-- <StackLayout orientation="horizontal" horizontalAlignment="center">
                                <Label class="fa" text=" &#xf087; "></Label><Label text=" 65 "></Label>
                                <Label class="fa" text=" &#xf075; "></Label><Label text=" 18 "></Label>
                                <Label class="fa" text=" &#xf004; "></Label><Label text=" Favorite "></Label>
                                <Label class="fa" text=" &#xf045; "></Label><Label text=" Share "></Label>
                            </StackLayout> -->
                        </StackLayout>
                    </Card:CardView>
                </StackLayout>           
            </ng-template>
        </ListView>
        <Button row="2" [nsRouterLink]="['../item', item.id]" id="button" text="View Details"></Button>
        <StackLayout row="3" id="carousel">
                <ScrollView orientation="horizontal">
                    <StackLayout orientation="horizontal" class="scroll-menu">
                        <StackLayout class="scroll-pane">
                            <Label text="Your cool Slide"></Label>                    
                        </StackLayout>
                        <StackLayout class="scroll-pane">
                                <Image src="https://placekitten.com/400/400" id="item-image" height="40"></Image>                  
                        </StackLayout>
                        <StackLayout class="scroll-pane">      
                                <Image src="https://picsum.photos/id/333/400/400" id="item-image" height="40"></Image>                  
                        </StackLayout>
                        <StackLayout class="scroll-pane">
                                <Image src="https://picsum.photos/id/222/400/400" id="item-image" height="40"></Image>                  
                        </StackLayout>
                        <StackLayout class="scroll-pane">
                            <Button text="Button"></Button>                  
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
    </GridLayout>
</GridLayout>





