<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<!-- <GridLayout>
        <StackLayout orientation="horizontal" horizontalAlignment="center">
            <Button class="btn btn-accent offers" text="Offers"></Button>
            <Button class="btn offers" text="Events"></Button>
            <Button class="btn offers" text="Movies"></Button>
        </StackLayout>
</GridLayout> -->

<GridLayout class="page page-content">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <StackLayout class="p-20">
                <Card:CardView class="cardStyle">
                    <StackLayout class="cardContent">
                        <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="m-b-10"></Label>
                        <Image [nsRouterLink]="['../item', item.id]" [src]="item.image" id="item-image"></Image>
                        <Button [nsRouterLink]="['../item', item.id]" id="button" text="View Details"></Button>
                        <StackLayout width="100%" class="lineBreak"></StackLayout>
                        <StackLayout orientation="horizontal" horizontalAlignment="center">
                            <Label class="fa" text=" &#xf087; "></Label><Label text=" 65 "></Label>
                            <Label class="fa" text=" &#xf075; "></Label><Label text=" 18 "></Label>
                            <Label class="fa" text=" &#xf004; "></Label><Label text=" Favorite "></Label>
                            <Label class="fa" text=" &#xf045; "></Label><Label text=" Share "></Label>
                         </StackLayout>
                     </StackLayout>
                </Card:CardView>
            </StackLayout>           
        </ng-template>
    </ListView>
</GridLayout>

