<ActionBar class="action-bar">
        <Label class="action-bar-title" text="Movie"></Label>
    </ActionBar>

    
<!-- <GridLayout class="page page-content">
        <StackLayout class="p-20">
                <Card:CardView class="cardStyle">
                    <StackLayout class="cardContent">
                        <Label text="Hello" class="m-b-10"></Label>
                        <Image src="https://placekitten.com/400/400"></Image>
                    </StackLayout>
                </Card:CardView>
            </StackLayout>
    <Label class="page-icon fa" text="&#xf002;"></Label>
    <Label class="page-placeholder" text="-- Page content goes here --"></Label>
</GridLayout> -->
<GridLayout rows="*, *" columns="*, *, *">
    <Image src="https://placekitten.com/400/400" stretch="aspectFill" colSpan="3" row="0" horizontalAlignment="center" ></Image>
    <StackLayout orientation="vertical" row="0" marginLeft="15">
        <Label text="Hello there" class="info" textWrap="true" row="0" col="0" colSpan="1" horizontalAlignment="center" id="image-text" marginTop="10"></Label>
        <Button class="btn" id="know-more" id="button" text="Know more"></Button>    
    </StackLayout>
</GridLayout>

    