<ActionBar class="action-bar">
        <Label class="action-bar-title" text="Movie"></Label>
    </ActionBar>

    
<GridLayout class="page page-content">
        <StackLayout class="p-20">
                <Card:CardView class="cardStyle">
                    <StackLayout class="cardContent">
                        <Label text="Hello" class="m-b-10"></Label>
                        <Image src="https://placekitten.com/400/400"></Image>
                    </StackLayout>
                </Card:CardView>
            </StackLayout>
    <Label class="page-icon fa" text="&#xf002;"></Label>
    <Label class="page-placeholder" text="-- Page content goes here --"></Label>
</GridLayout>

<!-- <GridLayout class="page page-content">
        <ListView [items]="items" class="list-group">
            <ng-template let-item="item">
                    <StackLayout class="p-20">
                    <GridLayout backgroundColor="White">
                            <GridLayout id="image1">
                                    <Image [nsRouterLink]="['../item', item.id]" [src]="item.image" id="item-image"></Image>
                                <GridLayout verticalAlignment="bottom">
                                    <StackLayout paddingTop="8" paddingBottom="8"
                                        paddingLeft="16" paddingRight="16">
                                        <Label [text]="item.name" class="locationCity"></Label>
                                        <Label [text]="item.description" class="locationCountry"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </GridLayout>
                        </GridLayout>
                        </StackLayout>
                    </ng-template>            
        </ListView>
    </GridLayout> -->


    